<launch>

<!-- START A GROUP WITH A NAMESPACE -->
    <group ns="cpp_codes">

<!-- LAUNCH A "Plain C++" NODE -->
        <node
            pkg    = "Roscpp"
            name   = "talker"
            output = "screen"
            type   = "talker"
        />

	 <node
            pkg    = "Roscpp"
            name   = "listener"
            output = "screen"
            type   = "listener"
        />


    </group>

</launch>
